.activityPage {
    width: 100%;
    height: 100vh;
    padding: 100px 0 60px 0;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

#containerForm{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.modal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal header{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    overflow: hidden;
}

.modal-content h4 {
    margin-top: 0;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 11px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    margin-top: 20px;
}

.modal form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.modal form input[type="text"],
.modal form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.modal form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #45a049;
}

.field {
    margin-bottom: 15px;
}

#submitBtn {
    color: #fff;
    background: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px
}

#submitBtn:hover {
    background: #013289;

}

.list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.list-btn button{
    border: none;
    outline: none;
    border-radius: 5px;
    background: #0171d3;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

.list-btn button:hover{
    background: #127fdf;
    
}

/* img.img-right {
    width: 100%;
    height: 100%;
} */